@import url(reset.css);
@import url(common.css);

.background_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.left_wrap {
  padding: 150px 0 195px 50px;
}

.left_wrap h2 {
  font-size: 96px;
  font-weight: 900;
  color: #c91734;
  letter-spacing: -10px;
  margin-bottom: 30px;
  font-style: italic;
}

.left_wrap p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #1d1d1d;
  opacity: 0.5;
}

.left_wrap span {
  font-weight: 700;
  opacity: 1;
}

.img_box {
  position: relative;
}

.left_img {
  position: absolute;
  top: 115px;
  left: -20px;
}

.right_img {
  position: absolute;
  top: 10px;
  right: -90px;
}

.right_wrap {
  padding: 440px 50px 260px 0;
}

.con_wrap {
  display: flex;
  flex-direction: column;
}

.con {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.con a {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f1f1f1;
  padding: 20px;
}

.con p {
  font-size: 20px;
  font-weight: 400;
  color: #bbb;
  letter-spacing: -2px;
  transition: 0.5s;
}

.con:hover p {
  color: #c91734;
}

@media screen and (max-width: 768px) {
  .background_wrap {
    display: none;
  }
}
/* background_wrap end */

.wrap {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: white;
  z-index: 500;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  /* overflow: hidden; */
}

header {
  max-width: 768px;
  width: 100%;
  height: 60px;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.menu_wrap {
  display: flex;
  align-items: center;
}

.menu_bar {
  margin-left: 20px;
  cursor: pointer;
}

.sub_menu {
  max-width: 768px;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 50;
  display: none;
}

.menu_black {
  display: none;
  align-items: center;
}

.menubar_black {
  margin-left: 20px;
  cursor: pointer;
}

.sub_menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  width: 30px;
  cursor: pointer;
}

.sub_menu_wrap {
  padding: 60px 0;
}

.sub_menu_wrap li {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 55px;
}

.product_click {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.sub_menu_wrap img {
  width: 30px;
  height: 30px;
  margin-left: 7px;
  transition: 0.2s;
}

.sub_product {
  display: none;
}

.sub_product li {
  font-size: 20px;
  margin-bottom: 22px;
}

.sub_product a {
  opacity: 0.8;
}

/* .active {
  right: 50%;
  transform: translateX(50%);
} */
/* header end */

.section_1 {
  position: relative;
}

.section_1 h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  color: white;
  position: absolute;
  bottom: 120px;
  left: 20px;
}

.bg_1 {
  width: 100%;
  height: 810px;
  background: linear-gradient(
      rgba(42, 42, 42, 0.15) 0%,
      rgba(42, 42, 42, 0.5) 50%,
      rgba(42, 42, 42, 0.75) 100%
    ),
    url(../img/section_1/bg_1.jpg) no-repeat center / cover;
}
/* section_1 end */

.con_2 {
  margin-bottom: 40px;
}

.con_2:last-child {
  margin-bottom: 0;
}

.con_2 img {
  margin-bottom: 20px;
}

.con_title_wrap_2 h4 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 13px;
}

.more_btn_2 a {
  font-size: 14px;
  font-weight: 700;
  color: #c91734;
}
/* section_2 end */

.section_3 {
  background-color: rgba(242, 242, 242, 40);
}

.con_title_wrap_3 h4 {
  font-size: 24px;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 13px;
}

.more_btn_3 {
  width: 100px;
  height: 45px;
  background-color: #c91734;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.more_btn_3 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
  letter-spacing: 0;
}

.swiper-pagination {
  --swiper-pagination-color: #c91734;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
}
/* section_3 end */
.section_4 {
  padding: 95px 0;
  position: relative;
}

.bg_4 {
  width: 100%;
  height: 760px;
  background: linear-gradient(rgba(29, 29, 29, 0.75)),
    url(../img/section_4/bg_4.jpg) no-repeat center / cover;
}

.title_wrap_4 {
  width: 100%;
  position: absolute;
  top: 245px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title_wrap_4 h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 7px;
  color: white;
}

.title_wrap_4 span {
  font-size: 20px;
  font-weight: 400;
  color: white;
  opacity: 0.7;
  display: block;
}

.con_wrap_4 {
  width: 90%;
  position: absolute;
  bottom: 245px;
  left: 50%;
  transform: translateX(-50%);
}

.con_4 {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.con_4:last-child {
  margin-bottom: 0;
}

.con_4 a {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.con_title_wrap_4 {
  color: white;
  opacity: 0.7;
  letter-spacing: 0;
}

.arrow_btn_4 {
  width: 15px;
}
/* section_4 end */

footer {
  padding: 70px 20px 30px;
}

.footer_link a {
  font-size: 14px;
  font-weight: 400;
}

.legal {
  margin-bottom: 20px;
}

.legal a {
  margin-right: 20px;
  opacity: 0.7;
}

.footer_link .privacy_policy {
  font-weight: 500;
}

.support {
  margin-bottom: 30px;
}

.support a {
  margin-right: 24px;
  opacity: 0.7;
}

.footer_line {
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
}

.footer_logo {
  width: 160px;
  margin-top: 30px;
  margin-bottom: 18px;
}

.info {
  margin-bottom: 18px;
}

.address,
.number {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}

.address {
  margin-bottom: 5px;
}

.copylight {
  font-size: 10px;
  font-weight: 400;
  opacity: 0.5;
}
